USE [master]
GO
/****** Object:  Database [NEWSMETADATAdb]    Script Date: 06/28/2014 19:34:46 ******/
CREATE DATABASE [NEWSMETADATAdb] ON  PRIMARY 
( NAME = N'NEWSMETADATAdb', FILENAME = N'E:\SQLDB\NEWSMETADATAdb.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NEWSMETADATAdb_log', FILENAME = N'E:\SQLDB\NEWSMETADATAdb_1.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NEWSMETADATAdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NEWSMETADATAdb]
GO
/****** Object:  User [dbiuser]    Script Date: 06/28/2014 19:34:46 ******/
CREATE USER [dbiuser] FOR LOGIN [dbiuser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[tblMETADataField]    Script Date: 06/28/2014 19:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMETADataField](
	[SysId] [nvarchar](128) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [text] NULL,
	[CreatedQuoteSysId] [nvarchar](128) NULL,
	[CreatedDateTime] [datetime] NULL,
	[LastModifiedQuoteSysId] [nvarchar](128) NULL,
	[LastModifiedDateTime] [datetime] NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_tblMETADataField] PRIMARY KEY CLUSTERED 
(
	[SysId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[tblMETADataField] ([SysId], [Title], [Description], [CreatedQuoteSysId], [CreatedDateTime], [LastModifiedQuoteSysId], [LastModifiedDateTime], [isActive]) VALUES (N'17b70f1e-f82c-4b58-989d-8e3f9b75c76f', N'สถานที่', NULL, NULL, CAST(0x0000A34B003FDA15 AS DateTime), N'55C15B69-F77D-4349-AA6E-B7D10DF6B807', CAST(0x0000A34B0040CD03 AS DateTime), 0)
INSERT [dbo].[tblMETADataField] ([SysId], [Title], [Description], [CreatedQuoteSysId], [CreatedDateTime], [LastModifiedQuoteSysId], [LastModifiedDateTime], [isActive]) VALUES (N'b3856edd-fd0c-4d5e-b61f-4ae6b29b62ac', N'จังหวัด', NULL, NULL, CAST(0x0000A32D00DFF34D AS DateTime), N'55C15B69-F77D-4349-AA6E-B7D10DF6B807', CAST(0x0000A34A011D2FE7 AS DateTime), 1)
INSERT [dbo].[tblMETADataField] ([SysId], [Title], [Description], [CreatedQuoteSysId], [CreatedDateTime], [LastModifiedQuoteSysId], [LastModifiedDateTime], [isActive]) VALUES (N'edfe35fc-3ef2-4413-83d2-780d8c155c9d', N'บุคคลสำคัญ', NULL, NULL, CAST(0x0000A3220153D8B4 AS DateTime), N'e4490b15-5479-4948-81af-bd826bc1e193', CAST(0x0000A323010CC1DA AS DateTime), 1)
/****** Object:  Table [dbo].[tblMETAMapping]    Script Date: 06/28/2014 19:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMETAMapping](
	[SysId] [nvarchar](128) NOT NULL,
	[NewsId] [nvarchar](128) NOT NULL,
	[DataFieldId] [nvarchar](128) NOT NULL,
	[Keyword] [nvarchar](255) NOT NULL,
	[CreatedQuoteSysId] [nvarchar](128) NULL,
	[CreatedDateTime] [datetime] NULL,
	[LastModifiedQuoteSysId] [nvarchar](128) NULL,
	[LastModifiedDateTime] [datetime] NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_tblMETAMapping] PRIMARY KEY CLUSTERED 
(
	[SysId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_tblMETADataField_isActive]    Script Date: 06/28/2014 19:34:48 ******/
ALTER TABLE [dbo].[tblMETADataField] ADD  CONSTRAINT [DF_tblMETADataField_isActive]  DEFAULT ((0)) FOR [isActive]
GO
/****** Object:  Default [DF_tblMETAMapping_SysId]    Script Date: 06/28/2014 19:34:48 ******/
ALTER TABLE [dbo].[tblMETAMapping] ADD  CONSTRAINT [DF_tblMETAMapping_SysId]  DEFAULT (newid()) FOR [SysId]
GO
/****** Object:  Default [DF_tblMETAMapping_isActive]    Script Date: 06/28/2014 19:34:48 ******/
ALTER TABLE [dbo].[tblMETAMapping] ADD  CONSTRAINT [DF_tblMETAMapping_isActive]  DEFAULT ((0)) FOR [isActive]
GO
/****** Object:  ForeignKey [FK_tblMETAMapping_tblMETADataField]    Script Date: 06/28/2014 19:34:48 ******/
ALTER TABLE [dbo].[tblMETAMapping]  WITH CHECK ADD  CONSTRAINT [FK_tblMETAMapping_tblMETADataField] FOREIGN KEY([DataFieldId])
REFERENCES [dbo].[tblMETADataField] ([SysId])
GO
ALTER TABLE [dbo].[tblMETAMapping] CHECK CONSTRAINT [FK_tblMETAMapping_tblMETADataField]
GO
